{% extends 'base.html.twig' %}

{% block title %}
    TinyProject
{% endblock %}

{% block body %}

        <h1>Admin</h1>

        <p>{{ message }}</p>

        {% if lists|length > 0 %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Tiny Url</th>
                    <th>Hit Count</th>
                    <th>Active/Inactive</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in lists %}
                    <tr class="table-active">

                        <td>{{ key }}</td>
                        <td><a href="{{ ServerName }}view/{{ value.0 }}">{{ ServerName }}view/{{ value.0 }}</a></td>
                        <td>{{ value.1 }}</td>
                        <td>{% if value.2 == 0 %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <form action="/urlAdmin" method="post">
            <label for="user">UserID:</label><br>
            <input type="number" id="user" name='user' value="1"><br><br>
            <input type="submit" value="Submit">
        </form>


        {% endblock %}