{% extends 'base.html.twig' %}

{% block title %}
    TinyProject
{% endblock %}

{% block body %}

        <h1>Url Analytical Information</h1>

    <p>Enter your tiny url to access analytical information for that url.</p>

        <form action="/urlAnalyticsResults" method="post">
            <label for="url">TinyUrl:</label><br>
            <input type="text" id="url" name='url' value=""><br><br>
            <input type="submit" value="Submit">
        </form>


        {% endblock %}