{% extends 'base.html.twig' %}

{% block title %}
    TinyProject
{% endblock %}

{% block body %}

        <h1>Url Analytical Information</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Tiny Url</th>
                    <th>Hit Count</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td>{{ longurl }}</td>
                        <td>{{ ServerName }}{{ shorturl }}</td>
                        <td>{{ visitcount }}</td>
                        <td>{% if active == 0 %}
                            Active
                            {% else %}
                           Not Active
                            {% endif %}
                        </td>
                        <td>{% if active == 0 %}

                                <form action="/{{ shorturl }}/toggleActivation/deactivate" method="POST">
                                    <button id="active_toggle">Deactivate</button>
                                </form>
                            {% else %}
                            <form action="/{{ shorturl }}/toggleActivation/activate" method="POST">
                                <button id="active_toggle">Activate</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>


        {% endblock %}