{% extends 'base.html.twig' %}

{% block title %}
    TinyProject
{% endblock %}

{% block body %}


    {% if Section == 2 %}


        <p class="text-danger">{{ message|raw }}</p>
        <p>Feel free to add another</p>
    {% endif %}

    {% if Section == 1 %}
        <h1>Welcome</h1>

        <p>This is a mock tiny url processor. It assigns the url to your user id if you supply one, otherwise it is just
            a demo much like other sites that exist.</p>
        <p>Just fill out the user id with any number you choose. Put in your url, and we will store it and shrink
            it!</p>
    {% endif %}

        <form id="url_form" action="/urlProcessor" method="post">
        <label for="URL">URL to shorten:</label><br>
        <input type="text" id="url" name='Url' value=""><br><br>
        <label for="user">UserID:</label><br>
        <input type="number" id="user" name='user' value="1"><br><br>
        <input type="submit" value="Submit">
        </form>



    <script>

            var urlForm = document.getElementById('url_form');
            urlForm.addEventListener('submit', function(event) {
                event.preventDefault();
                var urlString = document.getElementById('url');
                try {
                    new URL(urlString.value);
                    this.submit();
                } catch (err) {
                    alert('Check your URL, it may not be valid');
                }

            });


    </script>

        {% endblock %}